body {
  font-family: 'Courier New', Courier, monospace;
}

h2 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

main {
  padding: 1rem;
}

.container {
  max-width: 40rem;
  margin: 0 auto;
}

.heading {
  text-align: center;
}
